/*
body {
  margin: 100px;
  padding: 0px;
}
.first{
  height: 100px;
  background-color: red;
}
 src/App.css 
.card {
  height: 100%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.menu {
  height: 60px;
  background-color: hwb(180 0% 0%);
  
}
.menu nav ul li {
  float: inline-start;
  display: inline;
  
}
.menu nav ul .first {
  color: black;
  padding-top: 5px;
}
.menu nav ul .second {
  color: black;
  margin-left: 300px;
  border-radius: 10px;
  padding-top: 1px;
  background-color: yellow;
}
/* Add this to your CSS file */

.menu nav ul {
  display: flex;
  align-items: center;
  /*justify-content: ;*/
  list-style: none;
  padding: 10px;
  margin: 0;
}

.menu nav ul.nav-list li .logo {
  height: 40px;
}

.menu nav ul.nav-list li .heading {
  height: 40px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.menu nav ul li input.search-input {
  width: 500px;
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-left: 60px;
}

.menu nav ul li .nav-link {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}
.menu nav ul li .lang {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 350px;
  transition: background-color 0.3s, border-color 0.3s;
}
.menu nav ul li .heart {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}
.menu nav ul li .nav-link:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}
.menu nav ul li .lang:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}
.menu nav ul li .heart:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}
.menu nav .quick_links {
  height: 60px;
  background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  margin: 0px;
}
.menu nav .quick_links .home {
  text-decoration: none;
  color: #000;
  padding: 0.3rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}
.menu nav .quick_links .home:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}
.header main {
  height: 550px;
}
.header main .img1 {
  background-color: #000;
  height: 550px;
  width: 1440px;
}
.header main .cards {
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding: 30px;

}
.header main .cards .card1 {
  height: 250px;
  width: 250px;
  border: 1px solid;
  border-radius: 10px;
}
